<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link rel="stylesheet" href="assets/css/burger_style.css" type="text/css" />
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/burgers.js"></script>
	<title>Create Crazy Burgers and Eat Them Too!</title>
</head>

<body>


	{{{ body }}}

	
</body>
</html>
